asn1crypto==0.24.0
beautifulsoup4==4.6.3
chardet==3.0.4
cryptography==2.3.1
enum34==1.1.6
idna==2.7
ipaddress==1.0.17
keyring==15.0.0
keyrings.alt==3.1
mercurial==4.5.3
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
rope==0.10.5
SecretStorage==3.1.0
six==1.11.0
