beautifulsoup4==4.12.0
certifi==2024.7.4
cffi==1.15.1
chardet==3.0.4
cryptography==44.0.1
entrypoints==0.2.3
html5lib==1.0.1
httplib2==0.19.0
idna==3.7
pycparser==2.21
pyparsing==2.4.7
requests==2.32.0
six==1.16.0
soupsieve==2.4
urllib3==2.5.0
webencodings==0.5.1
